@import "tailwindcss";

body {
    background-image: url(./assets/images/body-bg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}
